h1 {
    position: relative;
    top: 35px;
    text-align: center;
}

.list{
    margin: 20px auto;
    .filter{
        width: 20%;
    }
    table{
     margin: auto;
     th{
         cursor: pointer;
     }
    }
}