.home-wrapper {
    text-align: center;
    padding: 100px 0 0 0;
    h1 {
        text-align: center;
        color : #da2130;
        position: relative;
        padding: 10px;
    }

    #loading {
        animation: rotation 2s infinite linear;
        position: absolute;
        display: inline-block;
        left: 0;
        position: relative;
        right: 0;
        top: 90px;
    }
    @keyframes rotation {
        from {
            -webkit-transform: rotate(0deg);
        }
    
        to {
            -webkit-transform: rotate(360deg);
        }
    }
}

